<nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
  <div class="container-fluid">
  <img src="{{ asset('uploads/images/logo.png') }}" height="50px" width="100px" alt="book">
    <a class="navbar-brand" href="{{ path('customer_home') }}">MangaDream</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        {% for category in categoryRepository.findAll() %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('customer_category_show',{'id' : category.id}) }}">{{ category.name }}</a>
            </li>

        {% endfor %}

        {% if app.user %}

            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_home') }}">Administration</a>
                </li>
               

            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>

        {% else %}

           {% include "search/_searchbar.html.twig" %}


            <li class="nav-item pad" >
                <a class="nav-link pad" href="{{ path('app_login') }}"><i class="fas fa-user"></i>Compte</a>
            </li>

        {% endif %}
        

        
        

            <li class="nav-item">
                <a class="nav-link" href="{{ path('cart_detail') }}">Mon panier</a>
            </li>
    
       
      </ul>
     
    </div>
  </div>
</nav>