{% extends "customer/base_customer.html.twig" %}


{% block body %}
<div class="container py-5">

    <div class="row">

        <div class="col-12 mt-3">
            {% include "customer/shared/_messages_flash.html.twig" %}
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Récapitulatif</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Produit</th>
                                        <th scope="col">P.U</th>
                                        <th scope="col" >Qté</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in detailCart %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src=" {{ item.product.imagePath }}" alt="{{ item.product.name }}" class="imageProductCart">
                                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                                        <p>{{ item.product.name }}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ item.product.price | euroPrice }}</td>
                                            <td>
                                                <button class="btn btn-light">{{ item.qty }}</button>
                                            </td>
                                            <td>{{ item.total | euroPrice }}</td>
                                        </tr>
                                    {% endfor%}
                                    <tr>
                                        <th colspan="2"></th>
                                        <th><strong>Sous Total</strong></th>
                                        <th><strong>{{ totalCart | euroPrice }}</strong></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
            {% if app.user %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Adresse de livraison</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary mt-3">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        <h3 class="text-center">Paiement en ligne</h3>
                    </div>
                    <div class="card-body">
                        {% if app.user.address is not same as null %}
                            <form action="{{ path('create_checkout_session') }}" method="POST">
                                <button type="submit" id="checkout-button" class="btn btn-success w-100">Paiement sur stripe</button>
                            </form>
                        {% else %}
                            <p>Veuillez configurer votre adresse pour pouvoir finaliser la commande.</p>
                        {% endif %}
                    </div>
                </div>

            {% else %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Veuillez vous connecter</h3>
                    </div>
                    <div class="card-body">
                        <p>Déjà un compte ? <a href="{{ path('app_login' )}}" class="btn btn-primary">Veuillez vous connecter</a></p>
                        <hr>
                        <p>Pas encore de compte ? <a href="{{ path('app_register' )}}" class="btn btn-link">Veuillez en créer un</a></p>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}