{% extends 'customer/base_customer.html.twig' %}

{% block body %}
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
    
        {% if products | length == 0 %}
            <h4 class="mt-3">Aucun résulat pour votre recherche.</h4>
           {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
               {% for product in products %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
                    <div class="card cardProduct">
                        <div class="card-header">
                            <img src="{{ asset(product.imagePath) }}" alt="{{ product.name }}" class="w-100 imageCard">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">{{ product.name }}</h5>
                            <p class="text-center text-primary">{{ product.price | euroPrice }}</p>
                        </div>
                        <div class="card-footer">
                        <a class="btn btn-info w-100" href="{{ path('customer_product_show',{'id' : product.id }) }}">Consulter</a>
                        </div>
                    </div>
                </div>
              {% endfor %}
          {% endif %}
     </div>
{% endblock %}