{% extends "admin/base_admin.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 d-flex align-items-center justify-content-between">
                <h1>Liste des produits</h1>
                <a class="btn btn-primary" href="{{ path('product_new') }}">Ajouter</a>
            </div>

            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Formulaire de recherche</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form)}}
                        
                        {{ form_widget(form)}}

                        <button class="btn btn-info mt-3" type="submit">Rechercher</button>
                        
                        {{ form_end(form)}}
                    </div>
                </div>
            </div>

            <div class="navigation py-2">
                {{ knp_pagination_render(products) }}
            </div>
            {% for product in products %}
                <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="{{ asset(product.imagePath) }}" alt="{{ product.name }}" class="w-100 imageCard">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">{{ product.name }}</h5>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-info w-100" href="{{ path('product_edit',{'id' : product.id }) }}">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="navigation py-2">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    
    </div>
{% endblock %}
